body {
    margin: 0;
}
.part-1, .header-1, .header-2, .header-2-content, .header-2-image {
    display: flex;
    
}
.part-1 {
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 100px;
    /* align-items: space-between; */
}
.separate {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
.hero-sec-text, .text {
    font-size: 18px;
    color: #e5e7eb;
}
.header-logo-text {
    font-size: 24px;
    color: #f9faf8;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
.header-1 {
    padding: 10px 0px;
    gap: 20px;
    
}
.header-2 {
    margin: 100px 0;
    justify-content: space-between;
}
.header-2-content {
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    gap: 24px;
}
button {
    width: fit-content;
    padding: 8px 24px;
    border-radius: 5px;
    background-color: #3882f6;
    border: #3882f6;
    color: white;
    font-size: larger;
    font-weight: bold;
}
p {
    display: flex;
    flex-wrap: wrap
} 
.header-2-image {
    flex-basis: 50%;
    align-items: 
}
img {
    width: 100%;
    height: auto;
}