body {
    margin: 0;
    font-family: 'roboto';
}
.part-1, .header-1, .header-2, .header-2-content, .header-2-image, .logo-box, .box-all, .all-box, .part-2, .box, .box-4, .part-4, .part-4-text{
    display: flex;
    
}
.part-1 {
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 200px;
}
.logo-box {
    align-items: center;
}
.separate {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
.hero-sec-text, .text-part-1 {
    font-size: 18px;
    color: #e5e7eb;
}
.text-part-1 {
    margin: 0;
}
.header-logo-text-1, .header-logo-text-2 {
    font-size: 24px;
    color: #65bfe2;
    margin: 0;
}
.header-logo-text-2 {
    color: #ce6a83;
    margin-left: 20px;
}
.logo-word-design {
    margin: 0 10px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
a {
    text-decoration: none;
}
.header-1 {
    gap: 20px;
    align-items: center;
    padding-top: 10px;
}
.header-2 {
    margin: 100px 0;
    justify-content: space-between;
}
.header-2-content {
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    gap: 10px;
    margin-right: 10px;
}
.button-1, .button-2 {
    width: fit-content;
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #3882f6;
    border: #3882f6;
    color: white;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
}
.header-2-image {
    flex-basis: 50%;
}
.main-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    /* min-width: 450px; */
    max-height: 460px;
    
}
.logo {
    width: 85px;
    height: 75px;
    border-radius: 50px;
}

.part-2 {
    padding: 0 300px;
    flex-direction: column;
    align-items: space-between;
}
.text-part-2 {
    text-align: center;    
    max-width: 250px;
    font-size: 18px;
} 
.box {
    width: 300px;
    height: 200px;
    border: solid #3882f6 3px;
    border-radius: 10px;
}
.all-box {
    flex-direction: column;
    align-items: center;
    
}
.box-all {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
.hero-part-2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    margin: 30px auto;
}
.image-2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.part-3 {
    background-color: #e5e7eb;
    padding: 100px 300px;
}
.quote, .quote-owner {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}
.quote-owner {
    text-align: right;
    font-weight: bold;
}
.quote {
    text-align: justify;
}

.part-4 {
    padding: 100px 200px;
    justify-content: center;
    align-items: center;

}
.box-4 {
    width: 100%;
    background-color: #3882f6;
    padding: 50px 100px; 
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.button-2 {
    border: #e5e7eb solid 3px;
    margin: 0;
}
.part-4-text {
    font-size: 20px;
    color: #e5e7eb;
    flex-direction: column;
    gap: 5px;
}
.text-4a, .text-4b {
    margin: 0;
}
.text-4a {
    font-weight: bold;
}
.copyright {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}