body {
    margin: 0;
}
.part-1, .header-1, .header-2, .header-2-content, .header-2-image {
    display: flex;
    
}
.part-1 {
    flex-direction: column;
    background-color: #1F2937;
    padding: 0 200px;
}
.separate {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
.hero-sec-text, .text {
    font-size: 18px;
    color: #e5e7eb;
}
.text {
    margin: 0;
}
.header-logo-text-1, .header-logo-text-2 {
    font-size: 24px;
    color: #65bfe2;
    margin: 0;
}
.header-logo-text-2 {
    color: #ce6a83;
    margin-left: 20px;
}
.logo-word-design {
    margin: -10px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
a {
    text-decoration: none;
}
.header-1 {
    gap: 20px;
    align-items: center;
    padding-top: 10px;
}
.header-2 {
    margin: 100px 0;
    justify-content: space-between;
}
.header-2-content {
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    gap: 10px;
    margin-right: 10px;
}
button {
    width: fit-content;
    padding: 8px 24px;
    border-radius: 5px;
    background-color: #3882f6;
    border: #3882f6;
    color: white;
    font-size: larger;
    font-weight: bold;
    margin-top: 20px;
}
p {
    display: flex;
    flex-wrap: wrap
} 
.header-2-image {
    flex-basis: 50%;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}
.logo {
    width: 85px;
    height: 75px;
    border-radius: 50px;
}